body {
	height: 100vh;
	width: 100vw;
	margin: 0;
	font-family: Helvetica, sans-serif;

	display: flex;
	justify-content: center;
	align-items: center;
}

#fake-form {
	display: flex;
	flex-direction: column;
	width: 50vw;
	text-align: center;
	gap: 15px;
	font-size: 30px;
}

#fake-form div {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

input {
	padding: 5px 10px;
	border-radius: 25px;
	border: 1px solid black;
	font-size: 25px;
}

#validate {
	background-color: lime;
	border: none;
	font-size: 25px;
	margin: 25px;
	border-radius: 25px;
	padding: 10px;
	font-weight: bold;
}

#validate:hover {
	transform: scale(1.05);
}

#validate:active {
	transform: scale(0.95);
}