body {
	margin: 0;
	font-family: Helvetica;
}

header {
	padding-top: 25px;
}

header a {
	background-color: darkslateblue;
	color: white;
	padding: 10px 15px;
	border-radius: 25px;
	margin: 5px;
	text-decoration: none;
	font-weight: bold;
}

.cliquable {
	transition: ease-in-out 0.1s;
}

.cliquable:hover {
	transform: scale(1.05);
}

.cliquable:active {
	transform: scale(0.9);
}

#info-message {
	padding: 15px;
	border: 1px solid black;
	background-color: white;
	border-radius: 25px;
	margin: 15px;
	display: none;
	text-align: center;
	position: fixed;
	right: 0;
	bottom: 0;
	transition: ease-in-out 0.2s;
}