body {
	margin: 0;
	font-family: Helvetica;
}

header {
	padding-top: 25px;
	margin-bottom: 25px;
}

header a {
	background-color: darkslateblue;
	color: white;
	padding: 10px 15px;
	border-radius: 25px;
	margin: 5px;
	text-decoration: none;
	font-weight: bold;
	display: inline-block;
}

.rounded-button {
	padding: 10px 15px;
	border-radius: 25px;
	font-weight: bold;
	border: none;
	text-align: center;
}

.small-shadow {
	box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.5);
}

.cliquable {
	transition: ease-in-out 0.1s;
}

.cliquable:hover {
	transform: scale(1.05);
}

.cliquable:active {
	transform: scale(0.9);
}

select, input {
	padding: 5px 10px;
	border-radius: 25px;
	border: 1px solid;
	margin: 5px;
}