body {
	font-family: Helvetica, sans-serif;
	margin: 0;
	background-color: #F9DEC9;
}

header {
	background-color: #852903;
	color: #F9DEC9;
	padding: 25px;
}

nav {
	display: flex;
}

nav a {
	background-color: #852903;
	color: #F9DEC9;
	padding: 10px 15px;
	text-decoration: none;
	transition: ease-in-out 0.2s;
}

nav a:hover {
	background-color: #85290399;
}